@model Pacientes

@{
    ViewData["Title"] = "Ingresar Paciente";
}

<h2>Ingresar Paciente</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<label id="mensajeResultado">
    @if (TempData["SuccessMessage"] != null)
    {
        <span class="text-success">@TempData["SuccessMessage"]</span>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <span class="text-danger">@TempData["ErrorMessage"]</span>
    }
</label>

<h2>Ingresar Paciente</h2>

<form action="/Home/Ingresar_Paciente" method="post">
    @Html.TextBoxFor(_ => _.Id_Paciente, new { @class = "form-control", @type = "hidden" })

    <div class="mb-3">
        <div class="form-label">Cédula</div>
        @Html.TextBoxFor(_ => _.Cedula, new { @class = "form-control", @placeholder = "Cédula del paciente" })
    </div>

    <div class="mb-3">
        <div class="form-label">Nombre y Apellido</div>
        @Html.TextBoxFor(_ => _.Nombre, new { @class = "form-control", @placeholder = "Nombre completo del paciente" })
    </div>

    <div class="mb-3">
        <div class="form-label">Teléfono</div>
        @Html.TextBoxFor(_ => _.Telefono, new { @class = "form-control", @placeholder = "Teléfono del paciente" })
    </div>

    <div class="mb-3">
        <div class="form-label">Correo Electrónico</div>
        @Html.TextBoxFor(_ => _.Correo, new { @class = "form-control", @type = "email", @placeholder = "Correo electrónico del paciente" })
    </div>

    <div class="mb-3">
        <div class="form-label">Dirección</div>
        @Html.TextBoxFor(_ => _.Direccion, new { @class = "form-control", @placeholder = "Dirección del paciente" })
    </div>

    <div class="mb-3">
        <div class="form-label">Fecha de Nacimiento</div>
        @Html.TextBoxFor(_ => _.FechaNacimiento, new { @class = "form-control", @type = "date" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar Paciente</button>
    <a href="/Home/Pacientes" class="btn btn-info">Cancelar</a>
</form>

