<h2>Lista de Pacientes</h2>

<a href="/Main/Insertar_Paciente" class="btn btn-primary">Agregar Paciente</a>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            Cédula
        </th>
        <th>
            Nombre y Apellido
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Correo Electrónico
        </th>
        <th>
            Dirección
        </th>
        <th>
            Fecha de Nacimiento
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @{
        foreach (Pacientes paciente in this.Model)
        {
            <tr>
                <td>@paciente.Cedula</td>
                <td>@paciente.Nombre</td>
                <td>@paciente.Telefono</td>
                <td>@paciente.Correo</td>
                <td>@paciente.Direccion</td>
                <td>@paciente.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="/Home/Insertar_Paciente?id=@paciente.Id_Paciente" class="btn btn-primary">Modificar</a>
                    <a href="/Home/Eliminar_Paciente?id=@paciente.Id_Paciente" class="btn btn-primary">Eliminar</a>
                </td>
            </tr>
        }
    }
</table>
